.header {
  color: #636e72; }

.footer {
  color: #636e72; }

.button-effect {
  background: #16BAC5;
  padding: 2rem 0; }
  .button-effect .container .row .col-lg-4 {
    padding: 1rem 4rem; }
    .button-effect .container .row .col-lg-4 .button {
      width: 100%;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;
      padding: 1rem 0;
      color: #EFE9F4;
      background: transparent;
      outline: none;
      border: 2px solid #EFE9F4;
      transition: .5s all ease-in-out;
      position: relative;
      z-index: 1;
      overflow: hidden; }
      .button-effect .container .row .col-lg-4 .button.two:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: #EFE9F4;
        z-index: -1;
        transition: .5s all ease-in-out; }
      .button-effect .container .row .col-lg-4 .button.three:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #EFE9F4;
        z-index: -1;
        transition: .5s all ease-in-out; }
      .button-effect .container .row .col-lg-4 .button.four:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background: #EFE9F4;
        z-index: -1;
        transition: .5s all ease-in-out;
        transform: translate(-50%, 0);
        opacity: 0; }
      .button-effect .container .row .col-lg-4 .button.five:after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200%;
        height: 0;
        background: #EFE9F4;
        z-index: -1;
        transform: translate(-50%, -50%) rotate(45deg);
        transition: .5s all ease-in-out;
        opacity: 0; }
      .button-effect .container .row .col-lg-4 .button.six:after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0;
        background: #EFE9F4;
        z-index: -1;
        transform: translate(0, -50%);
        transition: .5s all ease-in-out;
        opacity: 0; }
      .button-effect .container .row .col-lg-4 .button:hover {
        color: #16BAC5; }
        .button-effect .container .row .col-lg-4 .button:hover.one {
          background: #EFE9F4; }
        .button-effect .container .row .col-lg-4 .button:hover.two:after {
          height: 100%; }
        .button-effect .container .row .col-lg-4 .button:hover.three:after {
          width: 100%; }
        .button-effect .container .row .col-lg-4 .button:hover.four:after {
          width: 90%;
          opacity: 1; }
        .button-effect .container .row .col-lg-4 .button:hover.five:after {
          height: 243%;
          opacity: 1; }
        .button-effect .container .row .col-lg-4 .button:hover.six:after {
          height: 90%;
          opacity: 1; }
      .button-effect .container .row .col-lg-4 .button:active.four:after {
        width: 100%;
        opacity: 1; }
      .button-effect .container .row .col-lg-4 .button:active.five:after {
        height: 300%;
        opacity: 1; }
      .button-effect .container .row .col-lg-4 .button:active.six:after {
        height: 100%;
        opacity: 1; }

.button-click {
  background: #5FBFF9;
  padding: 2rem 0; }
  .button-click .container .row .col-md-6 {
    padding: 1rem 4rem;
    display: flex;
    justify-content: center; }
    .button-click .container .row .col-md-6 .button-click {
      width: 70%;
      outline: none;
      border: none;
      background: #16BAC5;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      font-size: 1.2rem;
      transition: .2s all ease-in-out;
      z-index: 1;
      box-shadow: 0 10px #171d1ca3;
      position: relative; }
      .button-click .container .row .col-md-6 .button-click.one {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; }
      .button-click .container .row .col-md-6 .button-click.two {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; }
      .button-click .container .row .col-md-6 .button-click:hover.one {
        transform: translateY(10%);
        box-shadow: 0 5px #171d1ca3; }
      .button-click .container .row .col-md-6 .button-click:hover.two {
        transform: translateY(5%);
        box-shadow: 0 8px #171d1ca3; }
      .button-click .container .row .col-md-6 .button-click:active.one {
        transform: translateY(15%);
        box-shadow: 0 0 #171d1ca3; }
      .button-click .container .row .col-md-6 .button-click:active.two {
        transform: translateY(15%);
        box-shadow: 0 0px #171d1ca3; }
