.header {
  color: #636e72; }

.footer {
  color: #636e72; }

.button-effect {
  background: #16BAC5;
  padding: 2rem 0; }
  .button-effect .container .row .col-lg-4 {
    padding: 1rem 4rem; }
    .button-effect .container .row .col-lg-4 .button {
      width: 100%;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;
      padding: 1rem 0;
      color: #EFE9F4;
      background: transparent;
      outline: none;
      border: 2px solid #EFE9F4;
      transition: .5s all ease-in-out;
      position: relative;
      z-index: 1;
      overflow: hidden; }
      .button-effect .container .row .col-lg-4 .button.two:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: #EFE9F4;
        z-index: -1;
        transition: .5s all ease-in-out; }
      .button-effect .container .row .col-lg-4 .button.three:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #EFE9F4;
        z-index: -1;
        transition: .5s all ease-in-out; }
      .button-effect .container .row .col-lg-4 .button.four:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background: #EFE9F4;
        z-index: -1;
        transition: .5s all ease-in-out;
        transform: translate(-50%, 0);
        opacity: 0; }
      .button-effect .container .row .col-lg-4 .button.five:after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200%;
        height: 0;
        background: #EFE9F4;
        z-index: -1;
        transform: translate(-50%, -50%) rotate(45deg);
        transition: .5s all ease-in-out;
        opacity: 0; }
      .button-effect .container .row .col-lg-4 .button.six:after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0;
        background: #EFE9F4;
        z-index: -1;
        transform: translate(0, -50%);
        transition: .5s all ease-in-out;
        opacity: 0; }
      .button-effect .container .row .col-lg-4 .button:hover {
        color: #16BAC5; }
        .button-effect .container .row .col-lg-4 .button:hover.one {
          background: #EFE9F4; }
        .button-effect .container .row .col-lg-4 .button:hover.two:after {
          height: 100%; }
        .button-effect .container .row .col-lg-4 .button:hover.three:after {
          width: 100%; }
        .button-effect .container .row .col-lg-4 .button:hover.four:after {
          width: 90%;
          opacity: 1; }
        .button-effect .container .row .col-lg-4 .button:hover.five:after {
          height: 243%;
          opacity: 1; }
        .button-effect .container .row .col-lg-4 .button:hover.six:after {
          height: 90%;
          opacity: 1; }
      .button-effect .container .row .col-lg-4 .button:active.four:after {
        width: 100%;
        opacity: 1; }
      .button-effect .container .row .col-lg-4 .button:active.five:after {
        height: 300%;
        opacity: 1; }
      .button-effect .container .row .col-lg-4 .button:active.six:after {
        height: 100%;
        opacity: 1; }

.button-click {
  background: #5FBFF9;
  padding: 2rem 0; }
  .button-click .container .row .col-md-6 {
    padding: 1rem 4rem;
    display: flex;
    justify-content: center; }
    .button-click .container .row .col-md-6 .button-click {
      width: 70%;
      outline: none;
      border: none;
      background: #16BAC5;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      font-size: 1.2rem;
      z-index: 1;
      box-shadow: 0 10px #171d1c82;
      position: relative; }
      .button-click .container .row .col-md-6 .button-click.one {
        border-radius: 5px; }
      .button-click .container .row .col-md-6 .button-click.two {
        border-radius: 5px; }
      .button-click .container .row .col-md-6 .button-click.three {
        border-radius: 5px;
        box-shadow: -10px 0 #171d1c82; }
      .button-click .container .row .col-md-6 .button-click.four {
        border-radius: 5px;
        box-shadow: 10px 0 #171d1c82; }
      .button-click .container .row .col-md-6 .button-click.five {
        border-radius: 50px; }
      .button-click .container .row .col-md-6 .button-click.six {
        border-radius: 30px; }
      .button-click .container .row .col-md-6 .button-click.seven, .button-click .container .row .col-md-6 .button-click.eight {
        border-radius: 50%;
        width: 30%; }
      .button-click .container .row .col-md-6 .button-click:hover.one {
        transform: translateY(10%);
        box-shadow: 0 5px #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:hover.two {
        transform: translateY(5%);
        box-shadow: 0 8px #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:hover.three {
        transform: translateX(-3%);
        box-shadow: -5px 0 #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:hover.four {
        transform: translateX(3%);
        box-shadow: 5px 0 #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:hover.five {
        transform: translateY(10%);
        box-shadow: 0 5px #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:hover.six {
        transform: translateY(5%);
        box-shadow: 0 8px #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:hover.seven {
        transform: translateY(10%);
        box-shadow: 0 5px #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:hover.eight {
        transform: translateY(5%);
        box-shadow: 0 8px #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:active.one {
        transform: translateY(15%);
        box-shadow: 0 0 #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:active.two {
        transform: translateY(15%);
        box-shadow: 0 0px #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:active.three {
        transform: translateX(-4%);
        box-shadow: 0px 0 #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:active.four {
        transform: translateX(4%);
        box-shadow: 0px 0 #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:active.five {
        transform: translateY(15%);
        box-shadow: 0 0 #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:active.six {
        transform: translateY(15%);
        box-shadow: 0 0px #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:active.seven {
        transform: translateY(15%);
        box-shadow: 0 0 #171d1c82; }
      .button-click .container .row .col-md-6 .button-click:active.eight {
        transform: translateY(15%);
        box-shadow: 0 0px #171d1c82; }

.button-font {
  background: #16BAC5;
  padding: 2rem 0; }
  .button-font .container .row .col-md-6, .button-font .container .row .col-md-12 {
    display: flex;
    justify-content: center;
    padding: 1rem 4rem; }
    .button-font .container .row .col-md-6 .button-font, .button-font .container .row .col-md-12 .button-font {
      outline: none;
      border: none;
      background: #5FBFF9;
      text-transform: uppercase;
      color: white;
      width: 70%;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0;
      height: 4rem;
      transition: .1s all ease-in-out;
      overflow: hidden;
      border-radius: 10px; }
      .button-font .container .row .col-md-6 .button-font.add-to-cart .row, .button-font .container .row .col-md-12 .button-font.add-to-cart .row {
        height: 100%; }
        .button-font .container .row .col-md-6 .button-font.add-to-cart .row .col-lg-3, .button-font .container .row .col-md-12 .button-font.add-to-cart .row .col-lg-3 {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #2980b9;
          padding: 0;
          transition: .5s all ease-in-out; }
          .button-font .container .row .col-md-6 .button-font.add-to-cart .row .col-lg-3 .fas, .button-font .container .row .col-md-12 .button-font.add-to-cart .row .col-lg-3 .fas {
            padding: 5px; }
        .button-font .container .row .col-md-6 .button-font.add-to-cart .row .col-lg-9, .button-font .container .row .col-md-12 .button-font.add-to-cart .row .col-lg-9 {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          background: #5FBFF9;
          transition: .5s all ease-in-out; }
          .button-font .container .row .col-md-6 .button-font.add-to-cart .row .col-lg-9 .cart, .button-font .container .row .col-md-12 .button-font.add-to-cart .row .col-lg-9 .cart {
            padding: 5px; }
      .button-font .container .row .col-md-6 .button-font.star .row, .button-font .container .row .col-md-12 .button-font.star .row {
        height: 100%; }
        .button-font .container .row .col-md-6 .button-font.star .row .col-lg-3, .button-font .container .row .col-md-12 .button-font.star .row .col-lg-3 {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          transition: .5s all ease-in-out;
          background: #2980b9; }
          @media only screen and (min-width: 1024px) {
            .button-font .container .row .col-md-6 .button-font.star .row .col-lg-3, .button-font .container .row .col-md-12 .button-font.star .row .col-lg-3 {
              border-right: 1px solid white; } }
        .button-font .container .row .col-md-6 .button-font.star .row .col-lg-9, .button-font .container .row .col-md-12 .button-font.star .row .col-lg-9 {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          transition: .5s all ease-in-out; }
      .button-font .container .row .col-md-6 .button-font.heart, .button-font .container .row .col-md-12 .button-font.heart {
        width: 25%;
        height: 8rem; }
        @media only screen and (max-width: 767px) {
          .button-font .container .row .col-md-6 .button-font.heart, .button-font .container .row .col-md-12 .button-font.heart {
            width: 70%;
            height: 4rem; } }
        .button-font .container .row .col-md-6 .button-font.heart .row, .button-font .container .row .col-md-12 .button-font.heart .row {
          height: 100%; }
          .button-font .container .row .col-md-6 .button-font.heart .row .col-12, .button-font .container .row .col-md-12 .button-font.heart .row .col-12 {
            padding: 1rem 0; }
            @media only screen and (max-width: 767px) {
              .button-font .container .row .col-md-6 .button-font.heart .row .col-12, .button-font .container .row .col-md-12 .button-font.heart .row .col-12 {
                padding: 0; } }
            .button-font .container .row .col-md-6 .button-font.heart .row .col-12.heart, .button-font .container .row .col-md-12 .button-font.heart .row .col-12.heart {
              background: #2980b9; }
      .button-font .container .row .col-md-6 .button-font.cog .row, .button-font .container .row .col-md-12 .button-font.cog .row {
        height: 100%; }
        .button-font .container .row .col-md-6 .button-font.cog .row .col-lg-3, .button-font .container .row .col-md-12 .button-font.cog .row .col-lg-3 {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #2980b9;
          position: relative; }
          @media only screen and (min-width: 1024px) {
            .button-font .container .row .col-md-6 .button-font.cog .row .col-lg-3:after, .button-font .container .row .col-md-12 .button-font.cog .row .col-lg-3:after {
              display: block;
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              width: 20px;
              height: 20px;
              transform: translate(50%, -50%) rotate(45deg);
              background: #2980b9;
              transition: .5s all ease-in-out; } }
          .button-font .container .row .col-md-6 .button-font.cog .row .col-lg-3 .fas, .button-font .container .row .col-md-12 .button-font.cog .row .col-lg-3 .fas {
            padding: 5px; }
        .button-font .container .row .col-md-6 .button-font.cog .row .col-lg-9, .button-font .container .row .col-md-12 .button-font.cog .row .col-lg-9 {
          display: flex;
          justify-content: center;
          align-items: center; }
          .button-font .container .row .col-md-6 .button-font.cog .row .col-lg-9 .setting, .button-font .container .row .col-md-12 .button-font.cog .row .col-lg-9 .setting {
            padding: 5px; }
      .button-font .container .row .col-md-6 .button-font.send, .button-font .container .row .col-md-12 .button-font.send {
        z-index: 1;
        position: relative; }
        @media only screen and (min-width: 1024px) {
          .button-font .container .row .col-md-6 .button-font.send:after, .button-font .container .row .col-md-12 .button-font.send:after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 40%;
            height: 500%;
            background: #2980b9;
            z-index: -1;
            transform: rotate(-30deg) translate(100%, -30%);
            transition: .5s all ease-in-out; } }
        .button-font .container .row .col-md-6 .button-font.send .row, .button-font .container .row .col-md-12 .button-font.send .row {
          height: 100%; }
          .button-font .container .row .col-md-6 .button-font.send .row .col-lg-3, .button-font .container .row .col-md-12 .button-font.send .row .col-lg-3 {
            display: flex;
            justify-content: center;
            align-items: center; }
            @media only screen and (max-width: 1024px) {
              .button-font .container .row .col-md-6 .button-font.send .row .col-lg-3, .button-font .container .row .col-md-12 .button-font.send .row .col-lg-3 {
                background: #2980b9; } }
            .button-font .container .row .col-md-6 .button-font.send .row .col-lg-3 .fas, .button-font .container .row .col-md-12 .button-font.send .row .col-lg-3 .fas {
              padding: 5px; }
          .button-font .container .row .col-md-6 .button-font.send .row .col-lg-9, .button-font .container .row .col-md-12 .button-font.send .row .col-lg-9 {
            display: flex;
            justify-content: center;
            align-items: center; }
            .button-font .container .row .col-md-6 .button-font.send .row .col-lg-9 .send, .button-font .container .row .col-md-12 .button-font.send .row .col-lg-9 .send {
              padding: 5px; }
      .button-font .container .row .col-md-6 .button-font:hover.add-to-cart .row .col-lg-3, .button-font .container .row .col-md-12 .button-font:hover.add-to-cart .row .col-lg-3 {
        background: #12467b; }
      .button-font .container .row .col-md-6 .button-font:hover.add-to-cart .row .col-lg-9, .button-font .container .row .col-md-12 .button-font:hover.add-to-cart .row .col-lg-9 {
        background: #529ac5; }
      .button-font .container .row .col-md-6 .button-font:hover.star, .button-font .container .row .col-md-12 .button-font:hover.star {
        background: #50a2d4; }
      .button-font .container .row .col-md-6 .button-font:hover.heart, .button-font .container .row .col-md-12 .button-font:hover.heart {
        background: #50a2d4; }
      .button-font .container .row .col-md-6 .button-font:hover.cog, .button-font .container .row .col-md-12 .button-font:hover.cog {
        background: #50a2d4; }
      .button-font .container .row .col-md-6 .button-font:hover.send, .button-font .container .row .col-md-12 .button-font:hover.send {
        background: #50a2d4; }
        .button-font .container .row .col-md-6 .button-font:hover.send:after, .button-font .container .row .col-md-12 .button-font:hover.send:after {
          transform: rotate(-30deg) translate(80%, -30%); }
      .button-font .container .row .col-md-6 .button-font:active.add-to-cart, .button-font .container .row .col-md-12 .button-font:active.add-to-cart {
        transform: translateY(10%); }
        .button-font .container .row .col-md-6 .button-font:active.add-to-cart .row .col-lg-3, .button-font .container .row .col-md-12 .button-font:active.add-to-cart .row .col-lg-3 {
          background: #07284a; }
        .button-font .container .row .col-md-6 .button-font:active.add-to-cart .row .col-lg-9, .button-font .container .row .col-md-12 .button-font:active.add-to-cart .row .col-lg-9 {
          background: #508ac0; }
      .button-font .container .row .col-md-6 .button-font:active.star, .button-font .container .row .col-md-12 .button-font:active.star {
        transform: translateY(10%);
        background: #4090c4; }
      .button-font .container .row .col-md-6 .button-font:active.heart, .button-font .container .row .col-md-12 .button-font:active.heart {
        background: #2070b0;
        transform: translateY(10%); }
      .button-font .container .row .col-md-6 .button-font:active.cog, .button-font .container .row .col-md-12 .button-font:active.cog {
        background: #2070b0; }
        .button-font .container .row .col-md-6 .button-font:active.cog .row .col-lg-3:after, .button-font .container .row .col-md-12 .button-font:active.cog .row .col-lg-3:after {
          height: 30px;
          width: 30px; }
      .button-font .container .row .col-md-6 .button-font:active.send, .button-font .container .row .col-md-12 .button-font:active.send {
        background: #2070b0;
        transform: translateY(10%); }
        .button-font .container .row .col-md-6 .button-font:active.send:after, .button-font .container .row .col-md-12 .button-font:active.send:after {
          transform: rotate(-30deg) translate(70%, -30%); }

.button-page-direction {
  background: #5fbff9;
  padding: 2rem 0; }
  .button-page-direction .container .row .col-md-6 {
    padding: 1rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .button-page-direction .container .row .col-md-6 .button-page {
      width: 60%;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;
      padding: 1rem 0;
      color: #EFE9F4;
      background: transparent;
      outline: none;
      border: 2px solid #EFE9F4;
      transition: .5s all ease-in-out;
      position: relative;
      z-index: 1;
      overflow: hidden;
      border-radius: 50px; }
      @media only screen and (max-width: 1023px) {
        .button-page-direction .container .row .col-md-6 .button-page {
          width: 100%; } }
      .button-page-direction .container .row .col-md-6 .button-page .fas {
        padding: 5px;
        position: absolute;
        font-size: .5rem;
        top: 50%;
        left: 50%;
        transition: .3s all ease-in-out;
        opacity: 0; }
      .button-page-direction .container .row .col-md-6 .button-page.one .fas {
        transform: translate(200%, -50%); }
      .button-page-direction .container .row .col-md-6 .button-page.three .fas {
        transform: translate(0%, -45%);
        right: -10rem; }
      .button-page-direction .container .row .col-md-6 .button-page.two .fas {
        transform: translate(-250%, -50%); }
      .button-page-direction .container .row .col-md-6 .button-page.four .fas {
        transform: translate(0%, -45%);
        left: -5rem; }
      .button-page-direction .container .row .col-md-6 .button-page:hover.one .fas {
        transform: translate(266%, -50%);
        opacity: 1;
        font-size: 1.1rem; }
      .button-page-direction .container .row .col-md-6 .button-page:hover.two .fas {
        transform: translate(-377%, -50%);
        opacity: 1;
        font-size: 1.1rem; }
      .button-page-direction .container .row .col-md-6 .button-page:hover.three .fas {
        right: -3rem;
        opacity: 1;
        font-size: 1.1rem; }
      .button-page-direction .container .row .col-md-6 .button-page:hover.four .fas {
        left: 1rem;
        opacity: 1;
        font-size: 1.1rem; }
      .button-page-direction .container .row .col-md-6 .button-page:active {
        background: #539bc7; }

.button-slide {
  background: #16bac5;
  padding: 2rem 0; }
  .button-slide .container .row .col-lg-4 {
    padding: 1rem 4rem; }
    .button-slide .container .row .col-lg-4 .button-slide {
      width: 100%;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;
      padding: 1rem 0;
      color: #EFE9F4;
      background: transparent;
      outline: none;
      border: 2px solid #EFE9F4;
      transition: .5s all ease-in-out;
      position: relative;
      z-index: 1;
      overflow: hidden; }
      .button-slide .container .row .col-lg-4 .button-slide.down .fas {
        position: absolute;
        top: -3rem;
        left: 50%;
        transform: translateX(-50%);
        transition: .5s all ease-in-out; }
      .button-slide .container .row .col-lg-4 .button-slide.down .content {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 20%);
        width: 100%;
        transition: .5s all ease-in-out; }
      .button-slide .container .row .col-lg-4 .button-slide.left-to-right .fas {
        position: absolute;
        top: 0;
        left: -3rem;
        transition: .5s all ease-in-out;
        transform: translateY(25%); }
      .button-slide .container .row .col-lg-4 .button-slide.left-to-right .content {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 20%);
        width: 100%;
        transition: .5s all ease-in-out; }
      .button-slide .container .row .col-lg-4 .button-slide:hover.down {
        padding-top: 2rem; }
        .button-slide .container .row .col-lg-4 .button-slide:hover.down .fas {
          top: .5rem; }
        .button-slide .container .row .col-lg-4 .button-slide:hover.down .content {
          top: 3rem; }
      .button-slide .container .row .col-lg-4 .button-slide:hover.left-to-right {
        padding-top: 2rem; }
        .button-slide .container .row .col-lg-4 .button-slide:hover.left-to-right .fas {
          left: 50%;
          transform: translate(-50%, 25%); }
        .button-slide .container .row .col-lg-4 .button-slide:hover.left-to-right .content {
          left: 150%; }
      .button-slide .container .row .col-lg-4 .button-slide:active {
        background: #2980b9; }

.font-effect {
  padding: 2rem 0;
  background: #5FBFF9; }
  .font-effect .container .row .col-md-6 {
    padding: 1rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .font-effect .container .row .col-md-6 .button {
      width: 100%;
      outline: none;
      border: none;
      background: #16BAC5;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      font-size: 1.2rem;
      z-index: 1;
      box-shadow: 0 10px #171d1c82;
      position: relative;
      padding: 1rem;
      border-radius: 20px;
      transition: .5s all ease-in-out;
      overflow: hidden; }
      @media only screen and (min-width: 768px) {
        .font-effect .container .row .col-md-6 .button {
          width: 60%; } }
      .font-effect .container .row .col-md-6 .button .fas {
        margin-right: 20px;
        transition: .5s all ease-in-out; }
      .font-effect .container .row .col-md-6 .button .content {
        transition: .2s all ease-in-out; }
      .font-effect .container .row .col-md-6 .button:hover.orderitem .fas {
        font-size: 2rem; }
      .font-effect .container .row .col-md-6 .button:active.orderitem .fas {
        transform: translateX(1000%); }
      .font-effect .container .row .col-md-6 .button:active.orderitem .content {
        opacity: 0; }
      .font-effect .container .row .col-md-6 .button:active.sendmessage .fas {
        font-size: 1.5rem;
        opacity: 0; }

.font-effect2 {
  padding: 2rem 0;
  background: #5FBFF9; }
  .font-effect2 .container .row .col-4, .font-effect2 .container .row .col-6 {
    display: flex;
    justify-content: center;
    align-items: center; }
    .font-effect2 .container .row .col-4 .font, .font-effect2 .container .row .col-6 .font {
      border: none;
      outline: 0;
      width: 30%;
      background: #16BAC5;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      font-size: 1.2rem;
      z-index: 1;
      box-shadow: 0 10px #171d1c82;
      position: relative;
      padding: 1rem;
      border-radius: 20px;
      transition: .1s all ease-in-out; }
      @media only screen and (max-width: 425px) {
        .font-effect2 .container .row .col-4 .font, .font-effect2 .container .row .col-6 .font {
          width: 100%; } }
      .font-effect2 .container .row .col-4 .font .fas, .font-effect2 .container .row .col-6 .font .fas {
        transition: .3s all ease-in-out; }
      .font-effect2 .container .row .col-4 .font .fas.overlay, .font-effect2 .container .row .col-6 .font .fas.overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s all ease-in-out; }
      .font-effect2 .container .row .col-4 .font.two .fas.overlay, .font-effect2 .container .row .col-6 .font.two .fas.overlay {
        top: -.1rem;
        color: yellow;
        font-size: 2rem;
        opacity: 0; }
      .font-effect2 .container .row .col-4 .font.three .fas.overlay, .font-effect2 .container .row .col-6 .font.three .fas.overlay {
        color: #f5f6fa;
        opacity: 0;
        transition: .2s all ease-in-out; }
      .font-effect2 .container .row .col-4 .font.four, .font-effect2 .container .row .col-6 .font.four {
        margin-top: 5rem;
        width: 15%;
        border-radius: 0 0 20px 20px; }
        @media only screen and (max-width: 768px) {
          .font-effect2 .container .row .col-4 .font.four, .font-effect2 .container .row .col-6 .font.four {
            width: 50%; } }
        .font-effect2 .container .row .col-4 .font.four:after, .font-effect2 .container .row .col-6 .font.four:after {
          display: block;
          content: '';
          position: absolute;
          width: 100%;
          height: 15px;
          top: 0;
          left: 0;
          background: #16bac5;
          border-radius: 20px 20px 0 0;
          transform: translateY(-100%); }
        .font-effect2 .container .row .col-4 .font.four .fas.fa-file, .font-effect2 .container .row .col-6 .font.four .fas.fa-file {
          position: absolute;
          top: 0;
          right: -10rem;
          transition: .5s all ease-in-out; }
          .font-effect2 .container .row .col-4 .font.four .fas.fa-file.one, .font-effect2 .container .row .col-6 .font.four .fas.fa-file.one {
            right: -10rem; }
          .font-effect2 .container .row .col-4 .font.four .fas.fa-file.two, .font-effect2 .container .row .col-6 .font.four .fas.fa-file.two {
            right: -12rem; }
          .font-effect2 .container .row .col-4 .font.four .fas.fa-file.three, .font-effect2 .container .row .col-6 .font.four .fas.fa-file.three {
            top: 2rem;
            right: -11rem; }
      .font-effect2 .container .row .col-4 .font.animate:after, .font-effect2 .container .row .col-6 .font.animate:after {
        animation: animate 1s alternate; }
      .font-effect2 .container .row .col-4 .font.animate .fas.fa-file, .font-effect2 .container .row .col-6 .font.animate .fas.fa-file {
        right: 50% !important;
        top: 0 !important;
        font-size: 0px; }
      .font-effect2 .container .row .col-4 .font:hover.one .fas, .font-effect2 .container .row .col-6 .font:hover.one .fas {
        color: #c0392b; }
      .font-effect2 .container .row .col-4 .font:hover.two .fas.overlay, .font-effect2 .container .row .col-6 .font:hover.two .fas.overlay {
        top: 50%;
        font-size: 1.2rem;
        opacity: 1; }
      .font-effect2 .container .row .col-4 .font:hover.three .fas, .font-effect2 .container .row .col-6 .font:hover.three .fas {
        color: #f5f6fa; }
      .font-effect2 .container .row .col-4 .font:active, .font-effect2 .container .row .col-6 .font:active {
        transform: translateY(20%);
        box-shadow: 0 5px #171d1c82; }
        .font-effect2 .container .row .col-4 .font:active.one .fas.overlay, .font-effect2 .container .row .col-6 .font:active.one .fas.overlay {
          top: -.1rem;
          opacity: 0;
          font-size: 2rem; }
        .font-effect2 .container .row .col-4 .font:active.three .fas, .font-effect2 .container .row .col-6 .font:active.three .fas {
          opacity: 0; }
        .font-effect2 .container .row .col-4 .font:active.three .fas.overlay, .font-effect2 .container .row .col-6 .font:active.three .fas.overlay {
          opacity: 1; }
        .font-effect2 .container .row .col-4 .font:active.four, .font-effect2 .container .row .col-6 .font:active.four {
          transform: translateY(0%);
          box-shadow: 0 10px #171d1c82; }

@keyframes animate {
  0% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(-150%); }
  100% {
    transform: translateY(-100%); } }
