extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Button Effect'
	- var description = 'Description for Button Effect page'
	- var bodyclass = 'Button Effect'
block body
	section.button-effect
		.container
			.row
				.col-lg-4.col-md-6
					button.button.one Button
				.col-lg-4.col-md-6
					button.button.two Button
				.col-lg-4.col-md-6
					button.button.three Button
				.col-lg-4.col-md-6
					button.button.four Button
				.col-lg-4.col-md-6
					button.button.five Button
				.col-lg-4.col-md-6
					button.button.six Button 
	section.button-click
		.container
			.row
				.col-md-6
					button.button-click.one Button
				.col-md-6
					button.button-click.two Button
				.col-md-6
					button.button-click.three Button
				.col-md-6
					button.button-click.four Button
				.col-md-6
					button.button-click.five Button
				.col-md-6
					button.button-click.six Button
				.col-md-6
					button.button-click.seven Button
				.col-md-6
					button.button-click.eight Button
				.col-md-6
					button.button-click.nine Button
				.col-md-6
					button.button-click.ten Button