extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Button Effect'
	- var description = 'Description for Button Effect page'
	- var bodyclass = 'Button Effect'
block body
	section.button-effect
		.container
			.row
				.col-lg-4.col-md-6
					button.button.one Button
				.col-lg-4.col-md-6
					button.button.two Button
				.col-lg-4.col-md-6
					button.button.three Button
				.col-lg-4.col-md-6
					button.button.four Button
				.col-lg-4.col-md-6
					button.button.five Button
				.col-lg-4.col-md-6
					button.button.six Button 
	section.button-click
		.container
			.row
				.col-md-6
					button.button-click.one Button
				.col-md-6
					button.button-click.two Button
				.col-md-6
					button.button-click.three Button
				.col-md-6
					button.button-click.four Button
				.col-md-6
					button.button-click.five Button
				.col-md-6
					button.button-click.six Button
				.col-md-6
					button.button-click.seven Yes
				.col-md-6
					button.button-click.eight No
	section.button-font
		.container
			.row
				.col-md-6
					button.button-font.add-to-cart
						.row
							.col-lg-3.fa-lg
								.fas.fa-shopping-cart
							.col-lg-9
								.cart Add to cart
				.col-md-6
					button.button-font.star
						.row
							.col-lg-3.fa-lg
								.fas.fa-star
							.col-lg-9
								.bookmark Bookmark
			.row
				.col-md-12
					button.button-font.heart
						.row
							.col-12.heart
								.fas.fa-heart.fa-lg
							.col-12.content
								.favarite Favorite
			.row
				.col-md-6
					button.button-font.cog
						.row
							.col-lg-3
								.fas.fa-cog.fa-lg
							.col-lg-9
								.setting Settings
				.col-md-6
					button.button-font.send
						.row
							.col-lg-9
								.send-data Send data
							.col-lg-3
								.fas.fa-arrow-right.fa-lg
	section.button-page-direction
		.container
			.row
				.col-md-6
					button.button-page.one 
						|Continue
						i.fas.fa-arrow-right
				.col-md-6
					button.button-page.two 
						i.fas.fa-arrow-left
						|Return
				.col-md-6
					button.button-page.three 
						|Continue
						i.fas.fa-arrow-right
				.col-md-6
					button.button-page.four
						i.fas.fa-arrow-left
						|Return
	section.button-slide
		.container
			.row
				.col-lg-4.col-md-6
					button.button-slide.down
						.fas.fa-shopping-cart.fa-2x
						.content Add to cart
				.col-lg-4.col-md-6
					button.button-slide.down
						.fas.fa-trash-alt.fa-2x
						.content Delete
				.col-lg-4.col-md-6
					button.button-slide.down
						.fas.fa-cog.fa-2x
						.content Settings
				.col-lg-4.col-md-6
					button.button-slide.left-to-right
						.fas.fa-shopping-cart.fa-2x
						span.content Add to cart
				.col-lg-4.col-md-6
					button.button-slide.left-to-right
						.fas.fa-trash-alt.fa-2x
						span.content Delete
				.col-lg-4.col-md-6
					button.button-slide.left-to-right
						.fas.fa-cog.fa-2x
						span.content Settings
	section.font-effect
		.container
			.row
				.col-md-6
					button.button.orderitem
						.fas.fa-truck.fa-lg
						span.content Order Item
				.col-md-6
					button.button.sendmessage
						.fas.fa-envelope
						span.content Send Message
	section.font-effect2
		.container
			.row
				.col-4
					button.font.one
						.fas.fa-heart
						.fas.fa-heart.overlay
				.col-4
					button.font.two
						.fas.fa-star.overlay
						.fas.fa-star
				.col-4
					button.font.three
						.fas.fa-plus
						.fas.fa-check.overlay
				.col-6
					button#animated.font.four
						.fas.fa-trash-alt.fa-2x
						.fas.fa-file.one
						.fas.fa-file.two
						.fas.fa-file.three
	section.rotate-3d-button.text-center
		.container
			.row
				.col-12
					button(value="Button").button-3d
				.col-12
					button(value="Button").button-3d.two
	section.clip-path
		.container
			.row
				.col-12
					.inner
						span.infor i
						div.hello Hello Guys
						p.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit unde autem magni pariatur odit
